@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-transform: none;
}

body {
    background-color: #333333;
    user-select: none;
    min-height: 100vh;
    position: relative;
}

.root {
    position: absolute;
    width: 100%;
    height: 100%;
}

.closeButton {
    color: red;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 597px;
    height: 262px;
    background: #333333;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
    color: #FFFFFF;
    padding: 38px 113px 65px 126px;
}

.modal h2{
    text-align: center;
    font-size: 34px;
    line-height: 41px;
}

.modal div{
    margin-top: 39px;
}

.modal button{
    width: 134px;
    height: 37px;
    border-radius: 5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    border: none;
    cursor: pointer;
}

.modal button:disabled{
    background: grey;
    color: white;
}

.modal .closeButton {
    color: #1877F2;
    background-color: #FFFFFF;
    margin-right: 27px;
}

.modal .deleteButton {
    color: #FFFFFF;
    background-color: #1877F2;
}